@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    /* Theme colors in RGB */
    --background: 244 244 245;
    --foreground: 6 6 6;
    --card: 252 252 252;
    --card-foreground: 6 6 6;
    --popover: 252 252 252;
    --popover-foreground: 6 6 6;
    --primary: 13 76 76;
    --primary-foreground: 252 252 252;
    --secondary: 60 60 60;
    --secondary-foreground: 252 252 252;
    --muted: 60 60 60;
    --muted-foreground: 115 115 115;
    --accent: 255 128 0;
    --accent-foreground: 252 252 252;
    --destructive: 226 61 61;
    --destructive-foreground: 252 252 252;
    --border: 60 60 60;
    --input: 230 230 230;
    --ring: 13 76 76;
    --chart-1: 255 128 0;
    --chart-2: 13 76 76;
    --chart-3: 60 60 60;
    --chart-4: 6 6 6;
    --chart-5: 252 252 252;

    /* Sidebar colors */
    --sidebar-background: 250 250 250;
    --sidebar-foreground: 63 66 70;
    --sidebar-primary: 25 25 25;
    --sidebar-primary-foreground: 250 250 250;
    --sidebar-accent: 244 244 245;
    --sidebar-accent-foreground: 25 25 25;
    --sidebar-border: 232 232 234;
    --sidebar-ring: 59 130 246;

    /* Non-color values remain unchanged */
    --radius: 0.5rem;
    --header-height: 4rem;
    --sidebar-width: 15rem;
  }

  .dark {
    /* Theme colors in RGB */
    --background: 6 6 6;
    --foreground: 252 252 252;
    --card: 18 18 18;
    --card-foreground: 252 252 252;
    --popover: 6 6 6;
    --popover-foreground: 252 252 252;
    --primary: 65 162 162;
    --primary-foreground: 252 252 252;
    --secondary: 60 60 60;
    --secondary-foreground: 252 252 252;
    --muted: 60 60 60;
    --muted-foreground: 166 166 166;
    --accent: 255 128 0;
    --accent-foreground: 252 252 252;
    --destructive: 125 25 25;
    --destructive-foreground: 252 252 252;
    --border: 60 60 60;
    --input: 60 60 60;
    --ring: 13 76 76;
    --chart-1: 255 128 0;
    --chart-2: 13 76 76;
    --chart-3: 60 60 60;
    --chart-4: 6 6 6;
    --chart-5: 252 252 252;

    /* Sidebar colors */
    --sidebar-background: 30 30 30;
    --sidebar-foreground: 244 244 245;
    --sidebar-primary: 37 99 235;
    --sidebar-primary-foreground: 4 4 4;
    --sidebar-accent: 41 41 41;
    --sidebar-accent-foreground: 244 244 245;
    --sidebar-border: 41 41 41;
    --sidebar-ring: 59 130 246;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.map {
  width: 100%;
  height: 15rem;
  position: relative;
}

@media (min-width: 768px) {
  .map {
    width: 100%;
    height: 30rem;
    position: relative;
  }
}
