@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    /* Theme colors in hex */
    --background: #fcfcfc;
    --foreground: #060606;
    --card: #fcfcfc;
    --card-foreground: #060606;
    --popover: #fcfcfc;
    --popover-foreground: #060606;
    --primary: #0d4c4c;
    --primary-foreground: #fcfcfc;
    --secondary: #3c3c3c;
    --secondary-foreground: #fcfcfc;
    --muted: #3c3c3c;
    --muted-foreground: #737373;
    --accent: #ff8000;
    --accent-foreground: #fcfcfc;
    --destructive: #e23d3d;
    --destructive-foreground: #fcfcfc;
    --border: #3c3c3c;
    --input: #3c3c3c;
    --ring: #0d4c4c;
    --chart-1: #ff8000;
    --chart-2: #0d4c4c;
    --chart-3: #3c3c3c;
    --chart-4: #060606;
    --chart-5: #fcfcfc;

    /* // Sidebar colors */
    --sidebar-background: #fafafa;
    --sidebar-foreground: #3f4246;
    --sidebar-primary: #191919;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #f4f4f5;
    --sidebar-accent-foreground: #191919;
    --sidebar-border: #e8e8ea;
    --sidebar-ring: #3b82f6;

    /* Non-color values remain unchanged */
    --radius: 0.5rem;
    --header-height: 4rem;
    --sidebar-width: 15rem;
  }

  .dark {
    /* // Theme colors in hex */
    --background: #060606;
    --foreground: #fcfcfc;
    --card: #060606;
    --card-foreground: #fcfcfc;
    --popover: #060606;
    --popover-foreground: #fcfcfc;
    --primary: #0d4c4c;
    --primary-foreground: #fcfcfc;
    --secondary: #3c3c3c;
    --secondary-foreground: #fcfcfc;
    --muted: #3c3c3c;
    --muted-foreground: #a6a6a6;
    --accent: #ff8000;
    --accent-foreground: #fcfcfc;
    --destructive: #7d1919;
    --destructive-foreground: #fcfcfc;
    --border: #3c3c3c;
    --input: #3c3c3c;
    --ring: #0d4c4c;
    --chart-1: #ff8000;
    --chart-2: #0d4c4c;
    --chart-3: #3c3c3c;
    --chart-4: #060606;
    --chart-5: #fcfcfc;

    /* // Sidebar colors */
    --sidebar-background: #191919;
    --sidebar-foreground: #f4f4f5;
    --sidebar-primary: #2563eb;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #292929;
    --sidebar-accent-foreground: #f4f4f5;
    --sidebar-border: #292929;
    --sidebar-ring: #3b82f6;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
